.bgBlueCus{
    background-color: #6785c1e2;
}

.bgYellowCus{
    background-color: #ffe945;
}

.textSponge{
    color: #ffe945;
}

.textNettuno{
    color: #647fb7;
}

.btn:hover{
background-color: #ffe945;
color: rgba(95,95,95) !important;
}

.nav-link{
    font-family: 'Oswald', sans-serif;
}

h5{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

 *{
    font-family: 'Montserrat' , sans-serif;
    color: rgba(95,95,95);
 }

 .bg-biki{
    background-image: url("/public/media/Bikini-Bottom.png");
    background-position: center;
    background-size: cover;
 }

 .bg-home{
    background-image: url("/public/media/homebg.png");
    background-position: center;
    background-size: cover;
 }